.bidBlockContainer {
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  .oneLiner {
    overflow-x: scroll;
    white-space: nowrap;
    min-width: 100%;
    max-width: 600px;
    .listItem {
      background: var(--bg-color-2);
      padding: 10px;
      border-radius: 15px;
      font-size: 16px;
      &.active {
        background: var(--primary-dark);
      }
    }
  }
}
