.comments {
  padding: 40px 20px 20px 20px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  .selected {
    background: var(--primary-dark);
    color: var(--bg-color) !important;
  }
  .chatItem{
    border-radius: 15px;
    padding: 10px;
    display: flex;
  }
}
