@import '../../../styles/variables.scss';
p.text {
  word-break: break-word;
  margin-bottom: 20px;
  font-weight: 400;
  // margins
  line-height: 1.4;
  &.xs {
    margin-bottom: 10px;
  }
  &.sm {
    margin-bottom: 20px;
  }
  &.md {
    margin-bottom: 30px;
  }
  &.lg {
    margin-bottom: 40px;
  }
  &.xl {
    margin-bottom: 60px;
  }
  &.none {
    margin-bottom: 0;
  }
  // colors
  &.dark, &.dark span {
    color: var(--text-color);
  }
  &.light,&.light span {
    color: #fff;
  }
  &.red , &.red span{
    color: var(--red);
  }
  &.gray, &.gray span {
    color: var(--gray);
  }
  &.lightgray, &.lightgray span {
    color: var(--light-gray);
  }
  &.yellow {
    color: #e7df29;
  }
  &.green {
    color: #29bd1c;
  }
  // Alignment
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }

  // letter styling
  &.capitalize {
    text-transform: capitalize;
  }
  &.italics {
    font-style: italic;
  }
  // size
  &.fontxs {
    font-size: 1rem;
  }
  &.fontsm {
    font-size: 1.2rem;
  }
  &.fontmd {
    font-size: 1.4rem;
  }
  &.fontlg {
    font-size: 1.6rem;
  }
  &.ellipsis {
    height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
