.footerStyle {
  background-color: #feac00;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footerPosition {
  position: fixed;
  bottom: 0px;
  z-index: 2;
}
.liveChatWrapper {
  width: 100%;
  height: calc(100% - 55.9vw - 53px);
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    content: '';
    width: 100%;
    height: 35%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #161616, transparent);
  }
}
.bidBlockWrapper {
  width: 100%;
  height: calc(100% - 60.9vw - 53px);
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}
