.footerStyle {
  background: var(--primary-dark);
  color: var(--bg-color);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerPosition {
  position: fixed;
  bottom: 0px;
  z-index: 2;
}
