@import 'variables.scss';
@import 'react-inner-image-zoom/lib/InnerImageZoom/styles.css';

#root {
  height: 100%;
  font-size: 10px;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  overflow: hidden;
  margin: 0;
  background: var(--bg-color);
  color: var(--white);
  height: 100%;
}

.pad-all-10 {
  padding: 10px;
}
.flex {
  display: flex;
}
.text-align-center {
  text-align: center;
}
.pad-bottom-0 {
  padding-bottom: 0px;
}
.mt10 {
  margin-top: 10px;
}


.transition-hide {
  width: 0;
  padding: 0 !important;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  flex: 0 !important;
  opacity: 0;
  &.show {
    opacity: 1;
    padding: inherit !important;
    transition: all 0.3s ease-in-out;
    flex: 1 !important;
  }
}