@import 'variables.scss';
@import 'react-inner-image-zoom/lib/InnerImageZoom/styles.css';
@import 'react-toastify/dist/ReactToastify.css';

#root {
  height: 100%;
  font-size: 10px;
}
p{
  margin-top: 0;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  overflow: hidden;
  margin: 0;
  background: var(--bg-color);
  color: var(--white);
  height: 100%;
}

.pad-all-10 {
  padding: 10px;
}
.flex {
  display: flex;
}
.text-align-center {
  text-align: center;
}
.pad-bottom-0 {
  padding-bottom: 0px;
}
.mt10 {
  margin-top: 10px;
}
.header{
  padding: 5px 10px;
  img{
    height: 40px;
  }
}
.transition-hide {
  overflow: hidden;
  opacity: 0;
  // z-index: 10;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  width: 100%;
  background: var(--bg-color);
  height: calc(100% + 60px);
  transform: translate(0, 100%);
  &.show {
    opacity: 1;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    transform: translate(0, 0);
  }
}

.Toastify__toast--warning {
  background: var(--primary-color) !important;
  color: var(--bg-color);
  font-size: 16px;
}

.mt0{
  margin-top: 0;
}