.headerStyle {
  align-items: center;
  // justify-content: center;
  flex: 1 1 100%;
  // img {
  //   flex: 1 1 30%;
  // }
  p {
    flex: 1 1 70%;
    text-align: right;
  }
}
.subHeaderStyle {
    flex-direction: column;
}
